svg {
    align-self: center;
    float:left;
    clear:left;
}

body {
    background-color: #F0FFF0
}

#threeTooltip {
    position:absolute
}

.off, .fade {
    opacity: .1
}

head {
    height:30px;
}

h1 {
    text-align: center; 
    margin-left:-230px;
}