svg {
    align-self: center;
    float:left;
    clear:left;
}

body {
    background-color: #F0FFF0;
}

#threeTooltip {
    position:absolute;
}

.off {
    opacity: .2;
}

.fade {
    opacity: .1;
}

head {
    height:50px;
}

h1 {
    text-align: center; 
    margin-left:-250px;
    font-family:monospace;
    font-size:30px;
}

rect:hover {
    opacity:.5;
}

#big_ThreeLine:hover, #big_FiveLine:hover, #knowLine:hover, #matLine:hover {
    opacity:.5
}

text {
    font-size: 13px;
    font-family: 'Inconsolata', monospace;
}

g#leftLabel text {
    font-size: 17px;
}

g#rightLabel text  {
    font-size: 17px;
}

g#xAxisLabel text {
    font-size:17px;
}

g#graphtitle text {
    font-size: 21px;
}

text.threelegend, text.fiveLegend, text.knowLegend, text.matLegend, text.finLegend {
    font-size:13.5px;
    font-family: 'Inconsolata', monospace;
}

button {
    font-family: 'Inconsolata', monospace;
}

a {
    margin:10px;
    font-family: 'Inconsolata', monospace;
}






